@use 'foundations';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: var(--role-surface-page);
  color: var(--role-text-primary);
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

a {
  color: var(--role-text-link);

  &:hover {
    color: var(--role-text-link-hover);
  }
}
